/* General body styling */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(45deg, #d4f5c1, #a7d5f1);
    font-family: Arial, sans-serif;
}

#topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
}

/* Logo styling */
#logo {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    font-family: 'Brush Script MT', cursive;
}


/* Welcome container styling */
#welcomeContainer {
    text-align: center;
    margin-top: 100px;
    width: 100%;
}

/* Welcome message styling */
#usernameDisplay {
    font-size: 34px;
    font-weight: bold;
    color: #333;
    font-family: 'Brush Script MT', cursive;
}

/* Main content container */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
    margin-top: 40px;
}

/* Styling the list */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

/* List item styling */
li {
    margin: 10px 0;
}

/* Link styling */
a {
    text-decoration: none;
    color: #007bff;
    font-size: 18px;
    display: block;
    padding: 10px;
    background-color: #e9f5ff;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* Hover effect for links */
a:hover {
    color: #0056b3;
    background-color: #d1ecff;
    transform: scale(1.05);
}

/* Responsive design for smaller screens */
@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    #usernameDisplay {
        font-size: 20px;
    }

    a {
        font-size: 16px;
    }
}
